*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background:linear-gradient(45deg,#c2f1fa, #D2B4DE);
    height: 100vh;
    

    
}
.barra-lateral{
    position: fixed;
    height: 100vh;
    width: 300px;
    padding:20px 15px;
    color:gray;
    background-color: white; /*#e1e5f2*/
    
}
.barra-lateral .nombre-software{
    width: 100%;
    line-height:70px;
    margin-bottom: 20px;
    font-family: "Rock Salt", cursive;
    font-size:30px;
    text-align: center;
    color: gray;
    /* padding-left: 20px;  */
    /* box-sizing: border-box; */
    /* border-top: 1px solid darkslategray;
    border-bottom: 1px solid darkslategray; */
    transition: .4s; 
}

.barra-lateral .navegacion li{
    list-style: none;
    display: flex;
    margin-bottom: 5px;    
}
.barra-lateral .navegacion a{
    border: 2px;
    width: 100%;
    height: 45px;
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    text-decoration: none;
    border-radius: 10px;
    background-color: white;
    color: gray;
}
.barra-lateral .navegacion a:hover{
    background-color:rgb(240, 236, 236);
    color:black;
}
.barra-lateral .navegacion ion-icon{
    min-width: 50px;
    font-size: 30px;
}

.barra-lateral ul a {
    
    transition: .4s; 
}

ul li:hover a {
    padding: 5px;
}


/*-------main------*/
main{
    margin-left: 300px;
    padding:20px;
}

.contenedor-opcion{
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-left: 250px;
   
}

.nombre {
    color: grey;
    display: flex;
    /*float: left;*/
    width:20%;
    margin-right:2%;
    
}


.caja {
    border:1px solid gray;
    height:50px;
    overflow: hidden;
    width: 230px;
    position:relative;
    margin-left: 5px;
    
 }

 select {
    background: white;
    border: none;
    font-size: 16px;
    height: 50px;
    padding: 10px;
    width: 270px;
    cursor: pointer;
    position:relative; 
 }

 select:focus{ outline: none;}
 
 .caja::after{
     content:"\025be";
     display:table-cell;
     padding-top:10px;
     text-align:center;
     width:40px;
     height:40px;
     background-color:#D2B4DE;
     position:absolute;
     top:0;
     right:0px;	
     pointer-events: none;
     
 }

 .fecha{
    background: #D2B4DE;
    border: none;
    border-radius: 10px;
    border:1px solid gray;
    font-size: 16px;
    text-align: center;
    height: 50px;
    padding:10px;
    cursor: pointer;
   
    
    
 }

 .buscar-btn {
    background: white;
    color: black;
    margin-top:50px;
    border-radius:5px;
    margin-left: 400px;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
 }
